<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>À propos de nous</h6>
            <p class="text-justify">Hassist.me est une application crée dans le but d'aider les parents ayant un enfant atteint du trouble du spectre de l'autisme afin ne pas perdre de temps dans les démarches administratives.</p>
          </div>
          <div class="col-xs-2 col-md-3">
            <h6>LIENS RAPIDES</h6>
            <ul class="footer-links">
              <li><a href="mailto:nathanagn@gmail.com">Contactez-nous</a></li>
              <li><a href="#">Contribuez</a></li>
              <li><a href="#">Mentions légales</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">

          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
            <a href="mailto:nathanagn@gmail.com"><i class="fab fa-instagram"></i></a>
            <a href="mailto:nathanagn@gmail.com"><i class="fab fa-facebook"></i></a>
            <a href="mailto:nathanagn@gmail.com"><i class="fab fa-twitter"></i></a>
            <a href="mailto:nathanagn@gmail.com"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:nathanagn@gmail.com"><i class="fa-sharp fa-solid fa-envelope"></i></a>
            </ul>
          </div>
        </div>
      </div>
</footer>
