<% if user_signed_in? %>
  <div class="list-group list-width">

    <% steps.each do |step| %>
      <div class="list-group-item list-group-item-action activecard text-center"><%= render "composents/step_card", step: step %></div>
    <% end %>
    <div class="list-group-item list-group-item-action activecard text-center dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Mes étapes
    </div>
    <ul class="dropdown-menu">
    <div class="list-group-item list-group-item-action activecard text-center"><%= link_to "Créer une étape", new_step_path %></div>
      <% @my_steps.each do |step| %>
        <%= link_to  step_path(step) do %>
          <li><%= render "composents/step_card", step: step, class: "dropdown-item" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
