<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgb(244 244 244 / 80%)), url(https://res.cloudinary.com/dikisdh8l/image/upload/v1669219548/Page_d_accueil_Hassist_b3l1sb.jpg);">
  <div class="container">
    <h1 style="margin-left: 42%; margin-right: 15%;">Hassist</h1>
    <p data-controller="typed"></p>
    <a class="btn btn-gradient" href="#">S'inscrire</a>
  </div>
</div>

<div class="description">
  <div class="container">
    <h2>Les caractéristiques du trouble du spectre de l'autisme (TSA)</h2>
      <p><li>Absence ou retard du language.</li>
      <li>Conversaion unidirectionnel, pauvreté du contact visuel.</li>
      <li>L'intérêt plus poussé pour les objets que pour les personnes.</li>
      <li>La manipulation de jouets exécutée de manière inhabituelle ou limitée.</li>
      <li>La mémoire extraordinaire</li></p>
    <h2>L'intelligence du TSA</h2>
      <p>Tous les autistes de haut niveau ont un QI supérieur à 130 et sont des personnes à Haut Potentiel Intellectuel. C'est faux ! ils n'ont simplement pas de retard mental, leur QI est compris entre 70 et 160.</p>
    <h2>Les autistes célèbres</h2>
      <p><li>Bob Dylan.</li>
      <li>Satoshi Tajiri.</li>
      <li>Albert Einstein.</li>
      <li>Sir Anthony Hopkins.</li>
      <li>Lizzy Clark.</li></p>
  </div>
</div>
