<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgb(244 244 244 / 80%)), url(https://res.cloudinary.com/dikisdh8l/image/upload/v1669299620/Page_d_accueil_Hassist_gukj6k.jpg);">
    <div class="container">
      <h1 style="margin-left: 41%; margin-right: 15%;">Hassist</h1>
      <p data-controller="typed"></p>
      <% unless user_signed_in? %>
      <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-gradient mx-3" %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-gradient mx-3" %>
      <% end %>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h2>Qu'est-ce que le Trouble du Spectre de l'Autisme (TSA) ?</h2>
        <p>Le trouble du spectre de l'autisme (TSA) est une condition neurodéveloppementale présente dès la naissance, dont les caractéristiques touchent plusieurs sphères du développement de l'enfant et peuvent changer dans le temps, aussi bien en nature qu'en intensité, et ce même à l'âge adulte. Les difficultés qui y sont reliées envahissent de nombreux domaines du fonctionnement de la personne.

          Le terme « spectre » fait référence au large éventail de manifestations, de compétences et de niveaux d’incapacité de fonctionnement qui peuvent survenir chez les personnes présentant un trouble du spectre de l’autisme (TSA). Certains enfants et adultes autistes sont pleinement capables d’effectuer toutes les activités de la vie quotidienne tandis que d’autres ont besoin d’un soutien substantiel pour effectuer les activités de base.

    </div>
  </div>
</div>
