<!-- <!-- <p class='p-3'>
  Les enfants et adultes autistes peuvent présenter des troubles psychomoteurs et sensori-moteurs dès leur plus jeune âge. Ces difficultés nécessitent des interventions rééducatives et réadaptatives. Les plus courantes sont les interventions en psychomotricité rééducative et en ergothérapie.
</p>
<p class='p-3'>
  La thérapie psychomotrice a une visée rééducative très variée dans les troubles de l’autisme. Elle intervient dans différents domaines d’application : motricité fine, coordination, organisation spatio-temporelle, sensorialité, graphisme, communication non verbale, etc. Elle assure ainsi la réadaptation de l’enfant par un apprentissage des capacités psychomotrices, de la perception et de l’autonomie.
</p>
<div class='card m-3'>
  <div class='card-header'>
    Informations
  </div>
  <div class='card-body'>
    <h5 class='card-title'>cabinet de psychomotricité</h5>
    <p class='card-text'>7 Rue Schoelcher, Sainte-Marie 97230, Martinique</p>
    <p class='card-text text-end fw-bold'>+596 696 79 11 89</p>
  </div>
</div>
<div class='card m-3'>
  <div class='card-header'>
    Informations
  </div>
  <div class='card-body'>
    <h5 class='card-title'>Cabinet de psychomotricité Thorel</h5>
    <p class='card-text'>12 Rue Ath Montlouis Félicité, Fort de France 97200, Martinique</p>
    <p class='card-text text-end fw-bold'>+596 596 61 47 08</p>
  </div>
</div>
 -->

<div class="scrollable">
  <img src="https://images.unsplash.com/photo-1591454550842-d56fb54f7a52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=422&q=80" alt="">
</div>

<style>
  .scrollable {
    overflow-y: scroll;
    width: 300px;
    height: 150px;
  }
  .scrollable img {

    width: 100%;
  }
</style>
