<% @steps.each do |step| %>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
    </a>
      <%= link_to  step_path(step) do %>
      <%= render "composents/step_card", step: step %>
      <% end %>
  </div>
<% end %>
