<div class="container">
  <div class="d-flex justify-content-center">
    <div class="list-group">
      <% @my_steps.each do |step| %>
          <%= link_to  step_path(step) do %>
          <%= render "composents/step_card", step: step %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
