<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @step.name %></h5>
        <p class="card-text"><%= @step.content %></p>
      </div>
    </div>
  </div>
</div>
