.form-step-container {
  background-color: #845b8770;
  padding: 4rem;
  border-radius: 0.5rem;
  .form-step {
    min-width: 20rem;
  }
}

#log {
  font-family: cinzel;
  padding-bottom: 20px;
}

#btt {
  background-color: #6B88D3!important;
  border: 0px solid transparent;
}
