#right {
  position: absolute;
  width: 30vw;
  right: 0px;
}

#left {
  position: absolute;
  width: 30vw;
  left: 0px;
}

#center{
  position: absolute;
  right: 0;
}

#no-absolut {
  position: initial;
}

.user-steps-container {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  background-color: white;
  margin: 0 !important;
  padding: 0.5rem !important;
}

.card-user-step {
  color: black;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  min-height: 7rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem;

}
i.fa-solid.fa-plus:hover {
  color: rgb(255, 0, 0);
}
.card-user-step:hover {
  color: black!important;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.step-card-link {
  color: rgb(122, 115, 115);
}

.list-group-item.list-group-item-action.activecard.text-center:active {
  background-color: #f4f4f4!important;
  border-right: 6px solid #4dbcd6;
}

.list-group-item.list-group-item-action.activecard.text-center:hover {
  background-color: #f4f4f4!important;
  border-right: 6px solid #4dbcd6;
}

.list-group-item.list-group-item-action.activecard.text-center:hover > a {
  color: black!important;
}
